{% extends 'bootstrap.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block extra_head %}
    <script src={% static 'js/bootstrap5.modal.forms.min.js' %} async></script>
    <link href={% static 'css/style.css' %} rel="stylesheet" type="text/css"></link>
{% endblock extra_head %}

{% block before_content %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <header class="navbar" style="background: var(--bs-secondary-bg);">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.25em"
                    fill="currentColor"
                    class="bi bi-house d-inline-block align-text-top"
                    viewBox="0 0 16 16"
                >
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
                Home
            </a>

            <nav>
                <ul class="nav navbar-center">
                    <li>
                        <button class="nav-link" id="create-modpack-nav">Create modpack</button>
                        <script type="text/javascript">
                            window.addEventListener("DOMContentLoaded", () => {
                                modalForm(
                                    document.getElementById('create-modpack-nav'),
                                    {
                                        formURL: "{% url 'modpack:create-modpack' %}",
                                    }
                                );
                            });
                        </script>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button
                                type="button"
                                class="nav-link"
                                id="load-modpack-nav"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Load modpack
                            </button>

                            <div class="dropdown-menu px-2">
                                <div style="display: flex;">
                                    <input
                                        id="load-modpack-nav-id-input"
                                        class="form-control me-2"
                                        type="number"
                                        min="1"
                                        max="9223372036854775807"
                                        placeholder="Modpack id"
                                        style="min-width: 7rem;"
                                    >
                                    <button
                                        id="load-modpack-nav-id-btn"
                                        class="btn btn-primary"
                                    >Load</button>
                                    <script type="text/javascript">
                                        function loadModpackChangeUrl() {
                                            let modpack_id = document.getElementById('load-modpack-nav-id-input').value;
                                            if (!modpack_id) {
                                                invokeAlert("Alert", "Incorrect modpack id");
                                                return;
                                            }
                                            let url = "{% url 'modpack:home' 0 %}";
                                            let urlParts = url.split('/');
                                            urlParts[urlParts.length - 2] = modpack_id;
                                            url = urlParts.join('/');
                                            window.location.href = url;
                                        }
                                        window.addEventListener("DOMContentLoaded", () => {
                                            document.getElementById("load-modpack-nav-id-btn").addEventListener("click", loadModpackChangeUrl);
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="d-flex">
                {% if user.is_authenticated %}
                    <span class="navbar-text me-3">Logged in as: {{user}}</span>
                    <a class="nav-link text-light pt-2" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-outline-primary me-2" href="{% url 'accounts:login' %}" role="button">Log in</a>
                    <a class="btn btn-primary" href="{% url 'accounts:register' %}" role="button">Register</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock before_content %}

{% block after_content %}
    <div id="alert-container" class="container-fluid toast-container bottom-0 mb-3">
        {% for alert in alerts %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">{{alert.title}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                </div>
                <div class="toast-body">
                    {{alert.text}}
                </div>
            </div>
        {% endfor %}
        {% if alert_title and alert_text %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">{{alert_title}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                </div>
                <div class="toast-body">
                    {{alert_text}}
                </div>
            </div>
        {% endif %}
        <script type="text/javascript">
            function invokeAlert(alert_title, alert_text) {
                alertContainer = document.getElementById("alert-container");
                alertHTML = `
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">${alert_title}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                        </div>
                        <div class="toast-body">
                            ${alert_text}
                        </div>
                    </div>
                `;
                alertContainer.innerHTML += alertHTML;
            }

            function testAlerts() {
                invokeAlert("Alert 1", "Alert 1 Body");
                invokeAlert("Alert 2", "Alert 2 Body");
                invokeAlert("Alert 3", "Alert 3 Body");
            }
            //testAlerts();
        </script>
    </div>
{% endblock after_content %}